body::after{
	content: "Desktop version";
	position: fixed;
	bottom: 60px;
	left: 0;
	font-size: 3em;
	text-align: center;
	color: #fff;
	padding: 10px;
	background: hsla(60, 50%, 50%, 0.7);
	width: 100%;
}
@media screen and (max-width: 960px){
	body::after{
		content: "Work braikpoint 960px";
		background: hsla(120, 50%, 50%, 0.7);
	}
}
@media screen and (max-width: 768px){
	body::after{
		content: "Work braikpoint 768px";
		background: hsla(180, 50%, 50%, 0.7);
	}

}
@media screen and (max-width: 480px){
	body::after{
		content: "Work braikpoint 480px";
		background: hsla(140, 50%, 50%, 0.7);
	}
	
}
@media screen and (max-width: 320px){
	body::after{
		content: "Work braikpoint 320px";
		background: hsla(30, 50%, 50%, 0.7);
	}
	
}