body{
	display: flex;
}
div{
	width: 200px;
	height: 120px;
	margin: auto;
	background: brown;
	text-align: center;
	color: #fff;
	font: 14pt verdana;
	display: flex;
	justify-content: center;
	align-items: center;
	/*transition: transform 1s;*/
	animation: myAnime 3s infinite;
	/*transition-timing-function: cubic-bezier(.6,.93,.52,.02);*/
}
@keyframes myAnime{
	0%, 100%{
		width: 200px;
		height: 120px;
	}
	50%{
		width: 300px;
		height: 240px;
	}
}
div:hover{
	/*transform: rotate(45deg);
	transform-origin: left top;*/
	/*transition: .5s;*/
	/*transform: skew(45deg);*/
	/*transform:  translate(20px);*/
	/*transform: scale(0.95) translate(2px, 2px); */
	/*transform: rotate(720deg) scale(0);*/
	/*transition: transform 2s linear;*/
}